
<form [formGroup]="formEdicion" (ngSubmit)="onSubmit()">
    <div class="row g-2">
        <div class="col-auto">
            <img [src]="pelicula.foto" alt="" style="height: 200px;" >
        </div>
        <div class="col-8">
            <div class="row mb-3">
                <div class="col-3">
                    <label for="tituloPelicula" class="form-label">Título</label>
                </div>
                <div class="col-auto">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="tituloPelicula"
                        formControlName="titulo"
                        name="titulo"
                        [ngClass]="(formEdicion.get('titulo')?.valid)?'is-valid':'is-invalid'"
                    />
                    <div class="text-danger text-end" [hidden]="formEdicion.get('titulo')?.valid">
                        <p [hidden]="!formEdicion.get('titulo')?.errors?.['required']">
                            Este campo es requerido
                        </p>
                        <p [hidden]="!formEdicion.get('titulo')?.errors?.['minlength']">
                            El título debe tener más de 3 caracteres
                        </p>
                        <p [hidden]="!formEdicion.get('titulo')?.errors?.['maxlength']">
                            El título debe tener menos de 30 caracteres
                        </p>
                    </div> 
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label for="generoPelicula" class="form-label">Género</label>
                </div>
                <div class="col-auto">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="generoPelicula"
                        formControlName="genero"
                        name="genero"
                        [ngClass]="(formEdicion.get('genero')?.valid)?'is-valid':'is-invalid'"
                    />
                    <div class="text-danger text-end" [hidden]="formEdicion.get('genero')?.valid">
                        <p [hidden]="!formEdicion.get('genero')?.errors?.['required']">
                            Este campo es requerido
                        </p>
                        <p [hidden]="!formEdicion.get('genero')?.errors?.['minlength']">
                            El título debe tener más de 3 caracteres
                        </p>
                        <p [hidden]="!formEdicion.get('genero')?.errors?.['maxlength']">
                            El título debe tener menos de 30 caracteres
                        </p>
                    </div> 
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label for="directorPelicula" class="form-label">Director</label>
                </div>
                <div class="col-auto">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="directorPelicula"
                        formControlName="director"
                        name="director"
                        [ngClass]="(formEdicion.get('director')?.valid)?'is-valid':'is-invalid'"
                    />
                    <div class="text-danger text-end" [hidden]="formEdicion.get('director')?.valid">
                        <p [hidden]="!formEdicion.get('director')?.errors?.['required']">
                            Este campo es requerido
                        </p>
                        <p [hidden]="!formEdicion.get('director')?.errors?.['minlength']">
                            El título debe tener más de 3 caracteres
                        </p>
                        <p [hidden]="!formEdicion.get('director')?.errors?.['maxlength']">
                            El título debe tener menos de 30 caracteres
                        </p>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" [disabled]="formEdicion.invalid">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
  </form>

  <div *ngIf="mostrar" class="text-center">
    <pre>
        {{ formEdicion.value | json }}
    </pre>
  </div>